#header {
    top: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}

#searchform {

}

#tsf {
    height: 30px;
    width: 833px;
    text-align: center;
}

#button {
    text-align: center;
}

.content {
    padding-bottom: 35px
}

body {
    
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    color: black;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 21px;
}

img {
    height: 92px;
    width: 272px;
    padding-top:109px
}

#footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    position: absolute;
    width: 100%;
}