body {
    
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    color: black;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 21px;
}

img {
    height: 92px;
    width: 272px;
    padding-top:109px
}

.searchform {

}

.center {

}

#footer {
    postion: absolute;
    bottom:0;
}